@import '../fonts/Montserrat-Medium.ttf';

@font-face {
    font-family: "MontserratMedium";
    src: url('../fonts/Montserrat-Medium.ttf');
}

$color-primary: #1DBEB9;
$color-secondary: #463733;
$color-backgroud: #FF8A5C;
$color-contrast: #FFF;
$font-family: 'MontserratMedium';